NUXT_PUBLIC_SITE_URL=https://adasweep.app
NUXT_PUBLIC_BLOCKFROST_API_KEY_PREPROD=   # https://blockfrost.io create a Preprod project
NUXT_PUBLIC_BLOCKFROST_API_KEY_MAINNET=    # Mainnet project key (for future use, mainnet disabled for now)
